.App {
  display: flex;
  text-align: center;
  border:1px solid black;
  min-height: 100vh;
}

.dark-shadow{
  box-shadow: 5px 5px 5px black;
  border:1px solid black;
  border-radius: .25em;
  padding: 2em;
}