.App {
  display: flex;
  flex-direction: column; 
  border:1px solid black;
  min-height: 100vh;
}

.dark-shadow{
  box-shadow: 5px 5px 5px black;
  border:1px solid black;
  border-radius: .25em;
  padding: 2em;
}
.brand{
  border-right: 1px solid white;
  padding-right: .5em;
}
.navbar{
  background-color: rgb(136, 37, 1);
  padding: 0;
  max-height: 15vh;
  height: 15vh;
  
}
.nav{
  z-index: 10000;
}

@media only screen and (max-width: 991px) {
  .navbar-nav{
      background-color: black;
  }
  .nav{
      z-index: 10000;
  }
}